#!/bin/bash
nohup aws cloudwatch get-metric-statistics --metric-name CPUUtilization --start-time {{ ansible_date_time.iso8601 }} --end-time {{ ansible_date_time.date }}T23:59:59Z --period 60 --namespace AWS/EC2 --statistics Maximum --dimensions Name=InstanceId,Value={{ lb_instance_id }}&
echo 0